<nav id="menu">
    <ul class="nav nav-tabs nav-justified">
        <li id="menuTitle">Jobeet</li>
        <li><a href="{{ path('JbtKevinBoussardBundle_homepage') }}"><span class="col-md-2 glyphicon glyphicon-home" aria-hidden="true"></span><span>HomePage</span></a></li>
        <li><a href="{{ path('jbt_search_index') }}"><span class="col-md-2 glyphicon glyphicon-search" aria-hidden="true"></span>Sql Request</a></li>
        <li><a href="{{ path('jbt_job_new') }}"><span class="col-md-2 glyphicon glyphicon-wrench" aria-hidden="true"></span>Post a Job</a></li>
        <li><a href="{{ path('sonata_admin_redirect') }}"><span class="col-md-2 glyphicon glyphicon-user" aria-hidden="true"></span>Admin</a></li>
        {% if app.user %}
        <li><a href="{{ path('logout') }}"><span class="col-md-2 glyphicon glyphicon-user" aria-hidden="true"></span><span>Logout</span></a></li>
        {% endif %}
    </ul>
</nav>