{% extends 'base.html.twig' %}

{% block body %}
        <div class="container-fluid">
            <div class="row" style="height: 100%;">
                <div id="container" >

                    {% include 'JbtKevinBoussardBundle:Default:header.html.twig' %}

                    <div id="content" class="row">

                        <div id="main-content" class="content">

                            <div class="col-xs-12" style="padding: 0;">

                                <div id="job_history">
                                    Recent viewed jobs:
                                    <ul>
                                        {% for job in app.session.get('job_history') %}
                                            <li>
                                                <a href="{{ path('jbt_job_show', { 'id': job.id, 'company': job.companyslug, 'location': job.locationslug, 'position': job.positionslug }) }}">{{ job.position }} - {{ job.company }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>


                                <div id="content" class="background-dark-blueGreen">
                                    {% for flashMessage in app.session.flashbag.get('notice') %}
                                        <div class="flash_notice">
                                            {{ flashMessage }}
                                        </div>
                                    {% endfor %}

                                    {% for flashMessage in app.session.flashbag.get('error') %}
                                        <div class="flash_error">
                                            {{ flashMessage }}
                                        </div>
                                    {% endfor %}

                                    <div class="content" style="width: 100%; padding-bottom: 53px">
                                        {% block content %}
                                        {% endblock %}
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    {% include 'JbtKevinBoussardBundle:Default:footer.html.twig' %}
                </div>
            </div>
        </div>
{% endblock %}
